<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
 </head>
 <body>
  <div class="list">
<a ui-sref="login"><button class="button ">
  HOME
</button></a>
<a ui-sref="history"><button class="button ">
  HISTORY
</button></a>
<a ui-sref="option"><button class="button ">
  OPTION
</button></a>
    <a class="item item-thumbnail-left">
      <img src="img/1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
<a class="item item-thumbnail-left">
      <img src="img/5.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
	<a class="item item-thumbnail-left">
      <img src="img/2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
	<a class="item item-thumbnail-left">
      <img src="img/3.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
	<a class="item item-thumbnail-left">
      <img src="img/4.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>



</div>
 </body>
</html>
